@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Jolly+Lodger&family=Moirai+One&family=Tulpen+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Hanalei+Fill&family=Jolly+Lodger&family=Moirai+One&family=Tulpen+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Hanalei+Fill&family=Jolly+Lodger&family=Moirai+One&family=Rubik+Spray+Paint&family=Tulpen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Hanalei+Fill&family=Jolly+Lodger&family=Moirai+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik+Spray+Paint&family=Tulpen+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Hanalei+Fill&family=Jolly+Lodger&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Moirai+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik+Spray+Paint&family=Tulpen+One&display=swap');



@font-face {
    font-family: NotoSansTC-VariableFont;
    src: url(/NotoSansTC-VariableFont_wght.ttf);
}

@font-face {
    font-family: JollyLodger-Regular;
    src: url(/JollyLodger-Regular.ttf);
}